
<h1>Stadiums8</h1>

@model IEnumerable<Stadium>




<table class="table">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Capacity</th>
            <th>Home Plate Direction</th>
        </tr>
    
    

    @foreach (var stadium in Model)
    {

        @if (stadium.HomePlateDirection != 0 && stadium.Name != "Turner Field")
        {
            <tr>
                
                <td>@stadium.Name</td>
                <td>@stadium.City</td>
                <td>@stadium.State</td>
                <td>@stadium.Capacity</td>
                <td>@stadium.HomePlateDirection</td>
            </tr>
        }

    }
</table>
