@{
    ViewData["Title"] = "Stadiums";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<Stadium>

<h2>MLB Ballparks</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Capacity</th>
            <th>Home Plate Direction</th>
        </tr>
    </thead>
    

    @foreach (var stadium in Model)
    {

        @if (stadium.HomePlateDirection != 0 && stadium.Name != "Turner Field")
        {
            <tr>
                
                <td>@stadium.Name</td>
                <td>@stadium.City</td>
                <td>@stadium.State</td>
                <td>@stadium.Capacity</td>
                <td>@stadium.HomePlateDirection</td>
            </tr>
        }

    }
</table>
